@page "/etherTransfer"
@inherits ReactiveComponentBase<SendTransactionViewModel>
@using Microsoft.AspNetCore.Components
@using NethereumBlazor.ViewModels

<div class="card">
    <h5 class="card-header">Transfer Ether</h5>
    <div class="card-body">
        <div class="form-group row">
            <label for="fromAccount" class="col-sm-1 col-form-label">From Account:</label>
            <div class="col-sm-10">

                @if (ViewModel.Accounts.Count > 1)
                {
                    <select id="fromAccount" class="form-control mr-sm-2" bind="@ViewModel.Account">
                        @foreach (var account in ViewModel.Accounts.Items)
                        {
                            <option value="@account.Address">@account.Address</option>
                        }
                    </select>
                }

                @if (ViewModel.Accounts.Count == 1)
                {
                    <input id="fromAccount" class="form-control" readonly bind="@ViewModel.Account" type="text" />
                }
                <small id="fromAccountHelp" class="form-text text-muted">The account address to transfer the Ether from</small>
                <small class="form-text text-muted"><a href="Accounts">Load new account</a></small>

                @if (ViewModel.Accounts.Count > 0)
                {
                    <small id="accountBalance" class="form-text text-muted">Ether Balance: @ViewModel.EtherBalance <RxButton @ref="RefreshBalanceButton" class="btn-link">Refresh</RxButton></small>
                }
            </div>
        </div>
        <div class="form-group row">
            <label for="toAccount" class="col-sm-1 col-form-label">To Account:</label>
            <div class="col-sm-10">
                <input id="toAccount" class="form-control" bind="@ViewModel.AddressTo" type="text" />
                <small id="toAccountHelp" class="form-text text-muted">The account address to transfer the Ether to</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="etherAmount" class="col-sm-1 col-form-label">Ether Amount:</label>
            <div class="col-sm-10">
                <input id="etherAmount" class="form-control" bind="@ViewModel.AmountInEther" type="text" />
                <small id="etherAmountHelp" class="form-text text-muted">The Ether amount to transfer</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="gasPrice" class="col-sm-1 col-form-label">Gas Price:</label>
            <div class="col-sm-10">
                <input id="gasPrice" class="form-control" bind="@ViewModel.GasPrice" type="text" />
                <small id="gasPriceHelp" class="form-text text-muted">The optional gas price in GWei</small>
                <br />
                <RxButton @ref="TransferEtherButton" class="btn btn-primary">Transfer Ether</RxButton>
            </div>
        </div>

        <div><a href="/transaction/@ViewModel.LatestTransactionHash"> @ViewModel.LatestTransactionHash</a></div>

        <div class="alert alert-danger" role="alert">
            <strong>Warning:</strong> This application is targeted to <strong>developers and experimental</strong>. If you intend to use this application to make a transfer in <strong>Mainnet</strong>, please download it from <a href="https://github.com/Nethereum/NethereumBlazor" class="alert-link" target="_blank">Github</a>, to validate the source and run it locally.
        </div>
    </div>
</div>


@functions {
    //workaround search for the time being
    [Parameter]
    public string BlockNumber { get; set; }

    [Parameter]
    public string TransactionHash { get; set; }


    protected void SelectedAccountChange(ChangeEventArgs accountChangeEventArgs)
    {
        ViewModel.Account = (string)accountChangeEventArgs.Value;
    }
}
