@page "/transaction/{transactionHash}"
@inherits ReactiveComponentBase<TransactionWithReceiptViewModel>
@using Microsoft.AspNetCore.Components
@using NethereumBlazor.ViewModels

<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h5>Transaction: @TransactionHash</h5>
            @if (ViewModel.Loading)
            {
                <div class="spinner-grow spinner-grow-sm ml-auto" role="status" aria-hidden="true"></div>
            }
        </div>
    </div>
    <div class="card-body">
        @if (!ViewModel.Loading && ViewModel.TransactionFound)
        {

            <table class="table table-responsive-sm">
                <tr>
                    <th class="thead-dark" scope="row">Block Number:</th>
                    <td><a href="/block/@ViewModel.BlockNumber">@ViewModel.BlockNumber</a></td>
                </tr>
                <tr>
                    <th scope="row">Index:</th>
                    <td>@ViewModel.Index</td>
                </tr>
                <tr>
                    <th scope="row">From:</th>
                    <td>@ViewModel.From</td>
                </tr>
                <tr>
                    <th scope="row">To:</th>
                    <td>@ViewModel.To</td>
                </tr>
                <tr>
                    <th scope="row">Amount:</th>
                    <td>@ViewModel.Amount</td>
                </tr>
                <tr>
                    <th scope="row">Nonce:</th>
                    <td>@ViewModel.Nonce</td>
                </tr>
                <tr>
                    <th scope="row">New Contract address:</th>
                    <td>@ViewModel.ContractAddress</td>
                </tr>
                <tr style="height: 200px">
                    <th scope="row">Data:</th>
                    <td style="max-width: 300px"><small style="word-wrap: break-word">@ViewModel.Data</small></td>
                </tr>
                <tr>
                    <th scope="row">Cumulative Gas Used:</th>
                    <td>@ViewModel.CumulativeGasUsed</td>
                </tr>
                <tr>
                    <th scope="row">Gas:</th>
                    <td>@ViewModel.Gas</td>
                </tr>
                <tr>
                    <th scope="row">Gas Price:</th>
                    <td>@ViewModel.GasPrice</td>
                </tr>
                <tr style="height: 200px">
                    <th scope="row">Logs:</th>
                    <td style="max-width: 300px"><small style="word-wrap: break-word">@ViewModel.Logs</small></td>
                </tr>
            </table>
            @if (ViewModel.HasErrors)
            {
                <div class="alert alert-danger" role="alert">
                    Transaction status failed and was reverted
                </div>
            }

        }

        @if (!ViewModel.Loading && !ViewModel.TransactionFound)
        {
            <div>No Transaction Found</div>
        }
    </div>
</div>

@functions {
    //workaround search for the time being
    [Parameter]
    public string BlockNumber { get; set; }

    [Parameter]
    public string TransactionHash { get; set; }
}
