@using Microsoft.AspNetCore.Components
@using NethereumExplorer.Services
@using NethereumExplorer.ViewModels
@using ReactiveUI
@using System.Collections
@using System.Reactive.Linq
@using System.Reactive.Threading.Tasks
@using System.Text.RegularExpressions
@inherits LayoutComponentBase
@inject NewBlockProcessingService NewBlockProcessingService
@inject Web3UrlViewModel Web3UrlViewModel
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="sidebar">
        <NavMenu/>
    </div>
    <div class="main">
        <nav class="navbar navbar-light bg-light">

               @if (rpcEndpoints.Count > 0 )
                {
                     <div class="input-group">
                        <select class="form-control mr-sm-2" value="@Web3UrlViewModel.Url" @onchange="UrlChange" >
                            @foreach (var rpcEndPoint in rpcEndpoints)
                            {
                                <option value="@rpcEndPoint">@TrimInfura(rpcEndPoint)</option>
                            }
                        </select>
                   
                      </div>
                }
                 <div class="input-group mb-3">
                    <input type="text" class="form-control mr-sm-2" @bind="Web3UrlViewModel.Url" placeholder="Chain Url"/>
                    @if (!IsSelectedDefaultRpcEndPoint())
                    {
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" @onclick="@(() => AddRpcEndpoint())">Save</button>
                            <button class="btn btn-outline-secondary" @onclick="@(() => RemoveRpcEnpoint())">Remove</button>
                        </div>
                    }
                </div>
        @if (QueryError)
                {
                     <div class="input-group mb-3">
                        <input class="form-control is-invalid mr-sm-2" type="search" placeholder="Search Block, Txn Hash" @bind="Query" aria-label="Search" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" @onclick="SearchBlockchain">Search</button>
                        </div>
                    </div>

                }
                else
                {
                    <div class="input-group mb-3">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search Block, Txn Hash" @bind="Query" aria-label="Search" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" @onclick="SearchBlockchain">Search</button>
                        </div>
                    </div>
                } 

        </nav>

        <div class="content px-4">
            @Body
        </div>

        <Toasts/>
    </div>


@code
{


    public string Query { get; set; }
    public bool QueryError { get; set; } = false;
    private List<string> rpcEndpoints = new List<string>();

    protected override void OnInitialized()
    {
        NewBlockProcessingService.WhenAnyValue(x => x.Loading).SubscribeAndNotifyStateChanges(InvokeAsync, StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetRpcEndpoints();
            this.StateHasChanged();

            Web3UrlViewModel.Url = "https://mainnet.infura.io/v3/ddd5ed15e8d443e295b696c0d07c8b02";
        }
    }

    public async Task SaveAsync(params string[] addresses)
    {
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "rpcEndPoints", addresses);
    }

    public async Task<string> ReadAsync()
    {
        var addresses = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "rpcEndPoints");
        Console.WriteLine(addresses);
        return addresses;
    }

    public async Task DeleteAsync()
    {
        await JSRuntime.InvokeAsync<string>("localStorage.removeItem", "rpcEndPoints");
    }

    public void SearchBlockchain()
    {
        if (!string.IsNullOrEmpty(Query))
        {
            Query = Query.Trim();
            var searchType = SearchQueryParser.InferSearchType(Query);

            switch (searchType)
            {
                case SearchType.Block:
                    {

                        NavigationManager.NavigateTo("block/" + Query);
                        QueryError = false;
                        break;
                    }
                case SearchType.Transaction:
                    {
                        NavigationManager.NavigateTo("/transaction/" + Query);
                        QueryError = false;
                        break;
                    }
                default:
                    QueryError = true;
                    break;
            }
        }
    }

    protected string TrimInfura(string url)
    {
        var pattern =  @"https://\w*.infura.io/v3/";
        var reg = new Regex(pattern);
        if (reg.IsMatch(url) &&  DefaultRpcEndPoints.Contains(url, StringComparer.CurrentCultureIgnoreCase))
        {
            return url.Substring(0, url.IndexOf("/v3"));
        }

        return url;
    }

    protected async Task AddRpcEndpoint()
    {
        
        if (!rpcEndpoints.Contains(Web3UrlViewModel.Url))
        {
            rpcEndpoints.Add(Web3UrlViewModel.Url);
            var filteredDefault = rpcEndpoints.Where(x => !DefaultRpcEndPoints.Contains(x, StringComparer.CurrentCultureIgnoreCase));
            await SaveAsync(filteredDefault.ToArray());
        }
    }

    protected bool IsSelectedDefaultRpcEndPoint()
    {
        return DefaultRpcEndPoints.Contains(Web3UrlViewModel.Url, StringComparer.CurrentCultureIgnoreCase);
    }

    protected async Task GetRpcEndpoints()
    {
        var rpcStored = await ReadAsync();
        if (!string.IsNullOrEmpty(rpcStored))
        {
            rpcEndpoints = new List<string>();
            rpcEndpoints.AddRange(DefaultRpcEndPoints);
            rpcEndpoints.AddRange(rpcStored.Split(","));
            Web3UrlViewModel.Url = rpcEndpoints[0];
        }
        else
        {
            rpcEndpoints = new List<string>();
            rpcEndpoints.AddRange(DefaultRpcEndPoints);
            Web3UrlViewModel.Url = rpcEndpoints[0];
        }

    }

    protected async Task RemoveRpcEnpoint()
    {
        if (rpcEndpoints.Contains(Web3UrlViewModel.Url))
        {
            rpcEndpoints.Remove(Web3UrlViewModel.Url);
            var filteredDefault = rpcEndpoints.Where(x => !DefaultRpcEndPoints.Contains(x, StringComparer.CurrentCultureIgnoreCase));
            await SaveAsync(filteredDefault.ToArray());
            Web3UrlViewModel.Url = rpcEndpoints[0];
        }
    }

    public List<string> DefaultRpcEndPoints = new List<string>(new []
        {
        "https://mainnet.infura.io/v3/<Please use your INFURA ProjectId>",
        "https://mainnet.optimism.io",
        "https://kovan.infura.io/v3/<Please use your INFURA ProjectId>",
        "https://ropsten.infura.io/v3/<Please use your INFURA ProjectId>",
        "https://rinkeby.infura.io/v3/<Please use your INFURA ProjectId>",
        "http://127.0.0.1:8545",
        "https://kovan.optimism.io"
        });
   
    protected void UrlChange(ChangeEventArgs urlChangeEventArgs)
    {
        Web3UrlViewModel.Url = (string)urlChangeEventArgs.Value;
    }
}
